.HashMapHeader
{
    background-color: #0f44a1;
    min-height: 5vh;
    min-width: 99%;
    width: 100%;
    border-radius: 10px;
    height: 2%;
    width: 17%;
}

.menuItemAddButton
{
    width: 150px;
}